body {
	background: #5c57b9;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #303339;
}

.clear {
	clear: both;
}

/*--------- Box ---------*/
#box {
	background: #f4f4f4;
	box-sizing: border-box;
	margin: 40px auto 0 auto;
	width: 65%;
}

#box #head-table {
	padding: 3%;
	text-transform: uppercase;
}

#box #body-table {
}

#box #body-table .item {
	letter-spacing: 1px;
	/* margin-bottom: 20px; */
	padding: 2% 3%;
}

#box #body-table .item:first-child {
	font-size: 18px;
	padding: 5% 3%;
}

#box #body-table .item:nth-child(2n+1) {
	background: #ffffff;
}

#box .placa,
#box .estado,
#box .fecha {
	float: left;
	width: 33.3333%;
}

@media (max-width: 1024px) {
	#box {
		width: 90%;
	}
}